body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:red;
    font-size: 50px;
    line-height: 56px;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background: #333;
    color: #FFF;
    padding: 25px 5%;
    margin: 25px;
}
section {
    background: darksalmon;
    padding: 20px;
}
section.title-area{
    background: darkturquoise;
}
.card{
    background: #FFF;
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
    width: 30%;
}
@media (max-width: 1050px) {
    .card{
        width: 90%;
        background:red;
    }
}